body {
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    background-color: #fef5ed;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 6;
  }
  
  .menu {
    margin-right: 20px;
  }
  
  .menu ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #99a799;
  }
  
  .logo {
    margin-left: 20px;
    height: 100px;
  }