/* SECCION SERVICIOS */
.contenedor {
    text-align: center;
    margin: 50px;
    padding: 30px;
    border: solid 1px #99a799;
    border-radius: 4px;
  }
  
  .contenedor h2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .contenedor p {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .imagenEncabezado {
    width: 100%;
  }