* {
  margin: 0;
  padding: 0;
}

/*CONTACTO */
.formulario {
  margin-top: 80px;
}

.campo {
  display: block;
  width: 50%;
  padding: 10px;
  margin: 10px auto;
}

.boton_s {
  color: black;
  background-color: #d3e4cd;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton_r {
  color: black;
  background-color: #d3e4cd;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #fef5ed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 6;
}

.menu {
  margin-right: 20px;
}

.menu ul li {
  display: inline-block;
  margin-left: 20px;
}

.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #99a799;
}

.logo {
  margin-left: 20px;
  height: 100px;
}

.imagenGaleria {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gridPadre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (5vw)[10];
      grid-template-rows: repeat(10, 5vw);
  grid-gap: 15px;
}

.imagenUno {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.imagenDos {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.imagenTres {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

.imagenCuatro {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 11;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.imagenCinco {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 11;
}

/* SECCION SERVICIOS */
.contenedor {
  text-align: center;
  margin: 50px;
  padding: 30px;
  border: solid 1px #99a799;
  border-radius: 4px;
}

.contenedor h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contenedor p {
  font-size: 20px;
  margin-bottom: 15px;
}

.imagenEncabezado {
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: 'imagenUno' 'imagenDos' 'imagenTres' 'imagenCuatro' 'imagenCinco';
  }
  .imagenUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imagenUno;
  }
  .imagenDos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imagenDos;
  }
  .imagenTres {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imagenTres;
  }
  .imagenCuatro {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: imagenCuatro;
  }
  .imagenCinco {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: imagenCinco;
  }
  /* VISTA TABLET */
}

@media only screen and (max-width: 599px) and (min-width: 600px) and (max-width: 1023px) {
  .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'imagenUno imagenDos' 'imagenTres imagenCuatro' 'imagenCinco';
  }
  .imagenUno {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imagenUno;
  }
  .imagenDos {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: imagenDos;
  }
  .imagenTres {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: imagenTres;
  }
  .imagenCuatro {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: imagenCuatro;
  }
  .imagenCinco {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: imagenCinco;
  }
}

.imagenCuidados {
  width: 500px;
  height: 500px;
}

.cuidados {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (5vw)[5];
      grid-template-rows: repeat(5, 5vw);
  text-align: center;
  margin: 50px;
  padding: 30px;
  border: solid 1px #99a799;
  border-radius: 4px;
}

.cuidados h2 {
  border: solid 2px #000000;
  border-radius: 4px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
}

.cuidados p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

footer {
  background-color: black;
  margin-top: 200px;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

footer h4 {
  color: white;
}
/*# sourceMappingURL=main.css.map */